.parentCalendar {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
}
.childCalendar {
    font-size: 0.8em;
}
h5 {
    text-align: center;
    padding: 1px 1px 1px 1px;
    font-size: 1em;
}

.link-course {
    background-color: #ac2b37;
    font-family: 'Verdana', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    text-align: center;
    padding: 2%;
    z-index: 2;
    cursor: pointer;
}