.App {
    height: 100%;
}
.App-header {
    background-color: #c41230;
    /*wtf*/
}

.course-panel {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.description-panel {
    background-color: purple;
}