.App {
    height: 100%;
}

h1 {
    margin: 0;
    text-align: center;
}

.App-header {
    background-color: #ac2b37;
    color: #FFFFFF;
    height: 5vh;
}

.course-panel {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
}

.description-panel {
    background-color: purple;
}